.card__menubox {
    background-color: #FFFFFF;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: .08);
    border-radius: 4px;

    .card__menubox-heading {
        position: relative;

        .card__menubox-label-discount {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 2;
        }

        .card__menubox-label-bestseller {
            position: absolute;
            top: 15px;
            left: 15px;
            z-index: 2;
        }

        img {
            width: 100%;
            height: 100px;
            object-fit: cover;
            border-radius: 4px;
        }
    }

    .card__menubox-body {
        padding: 8px 12px 12px 12px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .card__menubox-body-left {
            flex: 1 1 auto;
            text-align: left;
        }

        .card__menubox-body-right {
            flex: 0 1 auto;
            text-align: right;
        }
    }

    .card__menubox-link {
        font-weight: 500;
    }
}

.card__menubox-discounted {
    position: relative;
    font-size: 10px;
    margin-left: 4px;
    color: $color-red-primary;

    &::after {
        content: '';
        height: 1px;
        width: 100%;
        background-color: $color-red-primary;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.card__menulist {
    background-color: #FFFFFF;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: .08);
    padding: 12px;
    border-radius: 4px;
    display: flex;
    flex-flow: row nowrap;

    .card__menulist-heading {
        flex: 0 1 auto;
        padding-right: 12px;

        img {
            height: 80px;
            width: 90px;
            object-fit: cover;
            border-radius: 4px;
        }
    }

    .card__menulist-body {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .card__menulist-body-left {
            flex: 1 1 auto;
            text-align: left;
        }

        .card__menulist-body-right {
            flex: 0 1 auto;
            text-align: right;
        }
    }
}