.form__control-input {
    display: block;
    padding: 12px 16px;
    border: 1px solid $color-gray-secondary;
    color: $color-gray-optional;
    width: 100%;
    border-radius: 4px;

    &::placeholder {
        color: $color-gray-secondary;
    }
}

.form__label {
    display: block;
    margin-bottom: 8px;
}

.form__group-icon-wrap {
    position: relative;

    .form__group-icon {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        color: $color-red-primary;
    }
}

.form__search-wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 15px;

    .form__search-content {
        flex: 1 1 auto;
    }

    .notif__content {
        flex: 0 1 auto;
        padding-left: 20px;
    }
}