.flash__deal-carousel {
    .flash__deal-carousel-item {
        padding: 2px;
    }

    .carousel-status {
        display: none;
    }

    .control-dots {
        display: none;
    }

    .control-arrow {
        display: none;
    }
}